.detail {
  max-width: 100%;
  padding: 0;
}
.detail-container {
  margin-top: 2rem;
  border-top: 2px solid #eee;
}
.detail-image {
  width: 100%;
  margin-top: 1.5rem;
  height: 300px;
}

.detail-title {
  margin-top: 2rem;
  word-wrap: break-word;
}
.detail-detail {
  color: #666;
  margin-top: 0.5rem;
}

.detail-content {
  margin-top: 2rem;
  word-wrap: break-word;
}
